
// Variables For Button Colors

$btn-default: #51ddfc;
$btn-error: #e4757a;
$btn-info: #927bc1;
$btn-success: #63cc82;
$btn-warning: #fd7856;


// Variable For Media Breakpoint

$breakpoint-tablet: 768px;

// Variables For Font Weight

$font-light: 300;
$font-heavy: 700;

//Variable For Font-Family

$font-family:'Lato', sans-serif;

// Variables For Grid System

$cc1: #927bc1;
$cc2: #fd7856;
$cc3: #deb2ee;
$cc4: #7ee6fd;
$cc5: #88d9a0;
$cc6: #4da2bb;
$cc7: #ec9fa3;
$cc8: #fd9f85;
$cc9: #e4757a;
$cc10: #63cc82;
$cc11: #51ddfc;
$cc12: #80e8d1;
 

