/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .theme.col-1 {
    background-color: $cc1;
  }
  
  .theme.col-2 {
    background-color: $cc2;
  }
  
  .theme.col-3 {
    background-color: $cc3;
  }
  
  .theme.col-4 {
    background-color: $cc4;
  }
  
  .theme.col-5 {
    background-color: $cc5;
  }
  
  .theme.col-6 {
    background-color: $cc6;
  }
  
  .theme.col-7 {
    background-color: $cc7;
  }
  
  .theme.col-8 {
    background-color: $cc8;
  }
  
  .theme.col-9 {
    background-color: $cc9;
  }
  
  .theme.col-10 {
    background-color: $cc10;
  }
  
  .theme.col-11 {
    background-color: $cc11;
  }
  
  .theme.col-12 {
    background-color: $cc12;
  }
  
  .card {
    flex-basis: 100%;
  }
  